@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600&display=swap");
@import "color-palette.css";

:root {
	--root-font: "Manrope", sans-serif;

	font-family: var(--root-font);
	font-size: 16px;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title {
	max-width: 72ch;
	text-align: center;
}

.comp_section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-inline: 2rem;
	border-left: solid 3px #eeeeee;
}
